<h2>Log
    <button type="button" id="mute-log" class="btn btn-info start">Mute</button>
    <button type="button" id="unmute-log" class="btn btn-info start">Unmute</button>
    <button type="button" id="clean-log" class="btn btn-info start">Clean</button>
</h2>
<div class="row">
    <div class="col-sm-12">
        <textarea id="log-text-area" style="width:100%" rows="40"></textarea>
    </div>
</div>


